
node_modules/


test-results/
playwright-report/
blob-report/
playwright/.cache/


.idea/


.DS_Store        # macOS
Thumbs.db        # Windows


.env
*.env


**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.gradle/
!gradle/wrapper/gradle-wrapper.jar  # Keep the wrapper JAR file
.gradle-task-cache/


build/
out/
dist/


!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.properties


*.class
*.jar
*.war
*.ear